.Messages{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    height: 100%;
  
    display: flex;
    flex-direction: column;

    font-size: calc(10px + 2vmin);

  }

  .list-text{
    color: rgb(69, 66, 66);
  }
  
.search {
    margin-left: 55px;
    margin-top: -1px;
    height: 90%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;

}

.test {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  float: top;
  margin-top: 50px;
  
  /* position: fixed; */

}
